.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;

}

.itemContainer input {
  width: 200px;
  height: 50px;
  font-size: 20px;
}

button {
  width: 150px;
  height: 44px;
  margin-top: 15px;
}

 button:hover {
  cursor: pointer;
}

.items {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.item {
  align-items: center;
  flex-direction: horizontal;
  height: 80px;
  border: 1px solid black;
  margin: 6px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  width:auto;
  font-family: 'Courier New', Courier, monospace
}

.upperHeader {
  margin: 3px;
  padding-top: 6px;
  font-family: 'Courier New', Courier, monospace
}

.item h3 {
  margin-right: 30px;
}

.deletedButton {
  margin:6px;;
}

#deletedText {
  font-family: 'Courier New', Courier, monospace
}

.smallButton {
  margin-top: 2px;
  padding: -5px;
  height: 24px;
  width: 58px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display:flex;
}

.mediumButton {
  margin-right: 28px;
  margin-bottom: 15px;
  height: 30px;
  width: 74px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display:flex;
}

.centeredDiv {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display:flex;
}

.deletion {
  font-size: small;
}

.updateOrDeleteBox {
  width: 140px;
  margin: 2px;
}
